<div class="container">
    <div>
      <label>Friends:</label>

      <ol>
          <li>Colten Murray</li>
          <li>McCabe Sommers</li>
          <li>Eric Behrensen</li>
          <li>Phil Belinsky</li>
      </ol>
    </div>

    <div>
      <label>Bucket List:</label>

      <ul>
          <li>Hawaii</li>
          <li>Venice</li>
      </ul>
    </div>

    <div class="wrap">
        <div class="search">
           <input type="text" class="searchTerm" placeholder="What are you looking for?">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
