<div class="container">
    <div>
      <label>Friends:</label>
    </div>

    <div>
      <label>Bucket List:</label>

      <ul>
          <li>Hawaii</li>
          <li>Venice</li>
      </ul>
    </div>
    <div>
        <button (click)="addFriend()">Add Friend</button>
    </div>
    <div>
      <label for="usernameSearch">Search Username:</label>
      <input [(ngModel)]="usernameSearch" type="text" name="usernameSearch">
    </div>
    <div>
      <button (click)= "searchUsername()" data-inline = "true">Search</button>
    </div>
    <p id="error-message" *ngIf="showErrorMessage">{{ errorMessage }}</p>
    <div>
      <label for="citySearch">Search City:</label>
      <input [(ngModel)]="citySearch" type="text" name="citySearch">
    </div>
    <div>
      <button (click)= "searchCity()" data-inline = "true">Search</button>
    </div>

    <div class = "logout">
      <button (click)="logout()">Logout</button>
    </div>
</div>
<router-outlet></router-outlet>